*{
    box-sizing: border-box;
}
body{
    height: 100%;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    background-color: white;
}

.navigation {
    position: fixed;
    background-color: transparent;
    float: left;
    padding: 3vh;
}

.hero {
    height: 100%;
    width: 100vw;
    background-image: url("Images/WebBanner.gif");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* text-align: center;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-shadow: 1px 1px 1px rgb(49, 49, 49);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40pt;
    padding: 80px; */
}

.heroContents {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-shadow: 1px 1px 1px rgb(49, 49, 49);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40pt;
    padding: 80px;
}

.footer {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    font-weight: lighter;
    text-decoration: none;
    padding: 18px;
    margin: 0px;
}

.inline-block ul li{
    margin-left: 5vw;
}
.footer ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 40px;
}
a:link { text-decoration: none;
    color: black; 
}
a:visited { text-decoration: none; 
    color: black;}
a:hover {
    text-decoration-line: underline;
    text-decoration-color: #00ade6;
    text-decoration-thickness: 5px;
    }
a:active { text-decoration: none; 
}